.build/
.cache/
.data/
.env/
.git/
.idea/
.ignore/
.volumes/
.vscode/
docs/
examples/
node_modules/


**/.build/
**/.cache/
**/.data/
**/.env/
**/.git/
**/.idea/
**/.ignore/
**/.volumes/
**/.vscode/
**/docs/
**/examples/
**/node_modules/

Makefile
