# Don't check for updates of yarn itself
disable-self-update-check true

# Install exact versions (not prefixed with '^')
save-prefix ""

# Don't run post-install scripts (for security reasons)
--install.ignore-scripts true
