<!doctype html>
<header>
<title>TreeTime</title>
<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href={{bootstrap_basic}} />
 --><link rel="stylesheet" href={{html_theme}}>
<link rel="stylesheet" href="/static/css/style.css">

<!-- <style style="text/css">
body{
    background-image: url("/static/svg/web_background.svg");
    background-repeat: no-repeat;
    background-position: 20% -70%;
    background-size: 100% 700%;
}
</style> -->

</header>
<body>
<div id='react'>
<section id="react_"></section>
<script src="{{ url_for('static', filename='js/welcome_1.js') }}"></script>
</div>

</body>
