<!doctype html>
<header>
<title>TreeTime</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href={{bootstrap_basic}} />
<link rel="stylesheet" href={{html_theme}} />
<link rel="stylesheet" href="/static/css/style.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

<script>cfg={{ Config|tojson }}</script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</header>
<body>
<div id='react' userid={{ UserId }}>
<section id="react_"  ></section>
<script src="{{ url_for('static', filename='js/welcome_treetime.js') }}"></script>
</div>

</body>
