# Byte-compiled / optimized / DLL files

__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so


# Data and text files
#*.csv
*.txt
*.nwk
*.fasta
*.xml

# cluster output 
*.py.o*
*.py.e*

# datasets
simulated_data/*
flu_H3N2/missing_dates/*
flu_H3N2/subtree_samples/*
figs/
# include resources:
!resources/beast/*
!resources/flu_H3N2/*

# results are placed in the datasets in the results branch:
#!simulated_data/*.csv
*.ops

# LSD validation data 
LSD_validation_data/
#exclude LSD csv tables:
!LSD_validation_data/Simulation_results_750_11_10.csv
!LSD_validation_data/Simulation_results_750_3_25.csv
!LSD_validation_data/Simulation_results_995_11_10.csv
!LSD_validation_data/Simulation_results_995_3_25.csv
!LSD_validation_data/TT_D750_11_10_relaxed_sc.txt
!LSD_validation_data/TT_D750_11_10_strict_sc.txt
!LSD_validation_data/TT_D750_3_25_relaxed_rc.txt
!LSD_validation_data/TT_D750_3_25_relaxed_sc.txt
!LSD_validation_data/TT_D750_3_25_strict_rc.txt
!LSD_validation_data/TT_D750_3_25_strict_sc.txt
!LSD_validation_data/TT_D995_11_10_relaxed_sc.txt
!LSD_validation_data/TT_D995_11_10_strict_sc.txt
!LSD_validation_data/TT_D995_3_25_relaxed_sc.txt
!LSD_validation_data/TT_D995_3_25_strict_sc.txt
