# Byte-compiled / optimized / DLL files

__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so


# Data and text files
#*.csv
*.txt
*.nwk
*.fasta
*.xml

# cluster output 
*.py.o*
*.py.e*

# datasets
simulated_data/*
flu_H3N2/missing_dates/*
flu_H3N2/subtree_samples/*
figs/
# include resources:
!resources/beast/*
!resources/flu_H3N2/*

# results are placed in the datasets in the results branch:
#!simulated_data/*.csv


