[flake8]

ignore =
  E111,
  E114,
  E203,
  E266,
  E501,
  W503,

exclude =
  __pycache__,
  .cache,
  .coveragerc,
  .data,
  .flake8,
  .git,
  .gitignore,
  .idea,
  .prettierignore,
  .prettierrc,
  .pylintrc,
  .pytest_cache,
  .reports,
  .vscode,
  .yarnrc,
  build,
  config,
  data,
  dist,
  docker,
  Dockerfile,
  mypy.ini,
  node_modules,
  old,
  package.json,
  poetry.lock,
  poetry.toml,
  pyproject.toml,
  pytest.ini,
  README.md,
  yarn.lock,

max-line-length = 80

max-complexity = 18

select =
  B,
  C,
  E,
  F,
  W,
  T4,
  B9,

mypy_config = mypy.ini
